body {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 85vh;
}

.card {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}