.container {
    border: 2px solid green;
    padding: 20px 60px;
}

.content-wrapper {
    border: 2px solid blue;
}

body {
    border: 1px solid black;
    padding-bottom: 30px;
}

.content-wrapper>* {
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    margin: 20px;
}
