.comments {
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
}

.title {
    text-align: center;
}

.para p {
    text-align: center;
}

#comments {
    color: blueviolet;
}